@model List<BasketVM>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">BasketCount</th>
                    <th scope="col">Settings</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>
                            <img src="~/images/@product.Image" width="150" height="150" />
                        </td>
                        <td>@product.Title</td>
                        <td>@product.Description</td>
                        <td>@product.BasketCount</td>
                        <td>
                            <a asp-controller="basket" asp-action="remove" asp-route-id="@product.Id">
                                Remove
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>